<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

 <web-app>
     <display-name>IRIX Webservice</display-name>

     <servlet>
         <servlet-name>ReportUpload</servlet-name>
         <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
         <load-on-startup>1</load-on-startup>
     </servlet>

     <servlet-mapping>
         <servlet-name>ReportUpload</servlet-name>
         <url-pattern>/upload-report</url-pattern>
     </servlet-mapping>

     <context-param>
         <param-name>log4j-properties</param-name>
         <param-value>/WEB-INF/log4j.properties</param-value>
     </context-param>
     <context-param>
         <param-name>storage-dir</param-name>
         <!-- The directory in which to place the IRIX Reports -->
         <param-value>/tmp/irix-reports</param-value>
     </context-param>

     <listener>
         <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
     </listener>
 </web-app>
